<!doctype html>
<html>
    <head>
        <title>La pesquiña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            window.close();
        </script>
 </head>
    <body>
    </body>
</html>
