<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Author" content="Patricia Sanchez">
  <meta name="Company" content="MVS Radio">
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1265">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 11.2px 0.0px; font: 13.5px 'Times New Roman'; color: #000000}
    p.p2 {margin: 0.0px 0.0px 12.0px 0.0px; font: 9.0px 'Times New Roman'; color: #000000}
    p.p3 {margin: 5.0px 0.0px 5.0px 0.0px; font: 13.5px 'Times New Roman'; color: #000000}
    p.p4 {margin: 5.0px 0.0px 5.0px 36.0px; font: 13.5px 'Times New Roman'; color: #000000}
    p.p5 {margin: 5.0px 0.0px 5.0px 0.0px; font: 13.5px 'Times New Roman'; color: #000000; min-height: 16.0px}
    p.p6 {margin: 0.0px 0.0px 0.0px 0.0px; font: 13.5px 'Times New Roman'; color: #000000; min-height: 16.0px}
    span.s1 {text-decoration: underline ; color: #0433ff}
    span.Apple-tab-span {white-space:pre}
  </style>
</head>
<body>
<p class="p1"><b>La pesca del día.</b></p>
<p class="p2"><b>TÉRMINOS Y CONDICIONES PARA PARTICIPAR EN LA PROMOCIÓN</b></p>
<p class="p3"><b>BASES DE LA PROMOCIÓN</b></p>
<p class="p3">1. La promoción es realizada por la empresa CMR (a quien en lo sucesivo se le denominará Red Lobster) con domicilio en Av. Paseo de la Reforma No.222, Piso 14, Colonia Juárez, Del. Cuauhtémoc, México, D.F.</p>
<p class="p3">2. Promoción válida de las 9:00 horas del 12 de junio a las 21:00 horas del 14 de junio del 2014, hora de la Ciudad de México.</p>
<p class="p3">3. Promoción válida en la sucursal Santa Fe de la Ciudad de México.</p>
<p class="p3">4. Dinámica válida para usuarios que cuenten con una cuenta personal en <span class="s1">www.facebook.com</span></p>
<p class="p3">5. Promoción válida para las personas que residan en el Distrito Federal y Área Metropolitana.</p>
<p class="p3">6. Cualquier participante que cumpla con el apartado 4 y 5 de estas bases y visite el sitio <span class="s1">www.redlobster.com.mx</span> podrá participar.</p>
<p class="p3">7. Esta promoción no es reembolsable.</p>
<p class="p3">8. No aplica con otras promociones.</p>
<p class="p3">9. Los premios consisten en:</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Una langosta de 1 ¼ de libra para los 3 usuarios que pesquen más langostas en el menor tiempo posible.</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>10% de descuento para los siguientes 100 usuarios con mayor número de langostas pescadas.</p>
<p class="p3">10. Dinámica de la promoción:</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>Los usuarios tendrán que pescar todas las langostas y peces que puedan para juntar puntos, el numero de puntos de las langostas depende de su tamaño y de su velocidad.<span class="Apple-converted-space"> </span></p>
<p class="p5"><br></p>
<p class="p3">11. Definición del ganador</p>
<p class="p3">La dinámica tendrá una duración de tres días</p>
<p class="p3">Los tres usuarios que junten el mayor número de puntos en el menor tiempo posible, seran los ganadores de una langosta de 1 ¼ de libra</p>
<p class="p3">Adicional, habrá 100 ganadores del 10% de descuento en la cuenta final, estos serán los siguientes 100 usuarios que más puntos hayan acumulado.</p>
<p class="p3">Al finalizar el día, se realizará una evaluación para determinar la validez de cada participación con la finalidad de seleccionar a 3 ganadores de una langosta de 1 ¼<span class="Apple-converted-space">  </span>de libra y a los 100 usuarios ganadores del 10% de descuento que hayan cumplido con los términos y condiciones de esta promoción.</p>
<p class="p3">Los ganadores se darán a conocer el día sabado 14 de junio de 2014 a las 21 horas.</p>
<p class="p3">Los usuarios recibirán en su cuenta de correo electrónico un cupón, el cuál podrá ser canjeado por su premio en la sucursal de Santa Fe en la Ciudad de México.</p>
<p class="p3">Los ganadores de una langosta 1 ¼ de libra podrán canjear su cupón el día 15 de junio de 2014.</p>
<p class="p3">Los ganadores del 10% de descuento podrán canjear su cupón de lunes a viernes del 15 de junio al 15 de julio de 2014.</p>
<p class="p3">Sólo es válido un cupón por mesa.</p>
<p class="p3">Los premios no son canjeables ni en dinero ni en especie, no son reembolsables y no incluyen mantenimiento o ningún otro gasto no estipulado, siendo responsabilidad total del ganador después de ser entregado. El premio es intransferible.</p>
<p class="p3"><b>DERECHOS QUE EL USUARIO OTORGA</b></p>
<p class="p3">Los participantes acceden a que Red Lobster haga uso de su voz e imagen otorgándole el derecho de su uso y/o explotación en cualesquiera de sus versiones y que podrá ser ejercitado directamente por Red Lobster o por quien éste así lo decida, mediante su comunicación pública a través de cualquier medio de comunicación.</p>
<p class="p3"><b>Restricciones:</b></p>
<p class="p3">1. Participan en la promoción sólo mayores de 18 años.</p>
<p class="p3">2. Los criterios con base en los cuales se elegirá al ganador están sujetos a:</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>• 1. Sólo los participantes que cumplan con todas las condiciones anteriores se tomarán en cuenta para la premiación.</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>• 2. Se podrá tomar la decisión de descalificar definitivamente a un participante en caso de detectar fraude en datos, información o cualquier otra anomalía detectada en la participación del concurso, así como por incumplir con estos términos y condiciones.</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>• 3. El usuario deberá estar al tanto de las restricciones bajo las cuales rige la actividad de sus usuarios en relación a esta promoción.</p>
<p class="p4"><span class="Apple-tab-span">	</span>•<span class="Apple-tab-span">	</span>• 4. El ubicarse en el primer lugar al cierre de cada dinámica no condiciona el estatus de ganador, este se definirá únicamente después de la evaluación de participaciones.</p>
<p class="p3">3. Los premios no son canjeables ni en dinero ni en especie, no son reembolsables ni transferibles y no incluyen mantenimiento o ningún otro gasto no estipulado, siendo responsabilidad total del ganador después de ser entregado.</p>
<p class="p3">4. Red Lobster, es una marca registrada y no podrá ser alterada, modificada, ni utilizada para fines distintos a los de esta promoción.</p>
<p class="p3">5. Para cualquier duda, aclaración o información de la promoción favor de comunicarse a <span class="s1">https://www.facebook.com/redlobstermx</span>.</p>
<p class="p3">6. La sola participación en esta promoción implica para los participantes el conocimiento y aceptación de todas y cada una de las disposiciones descritas en las presentes bases. Red Lobster se reserva el derecho de descalificar a los participantes que no cumplan con los requisitos en los presentes Términos y Condiciones. Así mismo, los participantes renuncian a toda acción legal de cualquier especie o naturaleza que pretendan en contra de Red Lobster con motivo y ocasión de la presente promoción y a cualquier cantidad o indemnización de cualquier tipo que pudieren pretender en contra de Red Lobster otorgando con ello el más amplio finiquito que en derecho proceda.</p>
<p class="p3">7. No podrá participar en la presente promoción cualquier empleado y familiar de Red Lobster, o cualquier otra empresa proveedora de servicios de Red Lobster y cualquier tercero que participe en la producción de esta promoción.</p>
<p class="p3">8. Si por cualquier razón, la promoción no es capaz de ejecutarse tal y como estaba previsto, incluyendo, alguna limitación, la infección por virus de computadora, bugs, la manipulación, intervención no autorizada, el fraude, fallas técnicas o cualquier otra causa corrupto o que afecte a la administración, seguridad, equidad, integridad o la correcta realización de la promoción, Red Lobster se reserva el derecho, a su sola discreción para cancelar, demorar, modificar o terminar la promoción sin previo aviso.</p>
<p class="p3">9. Red Lobster no acepta ninguna responsabilidad por cualquier falla técnica o un funcionamiento defectuoso o cualquier otro problema con la red que esté conectado en línea al sistema, servidores, o proveedores de otro tipo, que puede ser el resultado de cualquier contenido o entrada en la promoción no está correctamente registrado.</p>
<p class="p3">10. La decisión de Red Lobster es definitiva y Red Lobster no acepta ninguna responsabilidad por las participaciones perdidas, ilegibles, tardías o alteradas.</p>
<p class="p3">11. Red Lobster se reserva el derecho a modificar estos Términos y Condiciones en cualquier momento. Todas las cuestiones y controversias serán sometidas a la decisión final del mismo.</p>
<p class="p5"><br></p>
<p class="p6"><br></p>
<p class="p6"><br></p>
</body>
</html>
